*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    
    background: #e5eff5;
    font-family: "Karla";
    width: 100%;
}

.main{
    display: grid;
    min-height: 90vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: : auto;
    
}

.intro{
    grid-column:2/4;
    grid-row: 2/3;
    background: white;
}

 .intro h2{
    font-size: 2.6rem;
    color: hsl(71, 73%, 54%);
    margin-left: 2rem;
    padding-top: 2rem;
}

.intro h1{
    font-size: 3rem;
    color: hsl(179, 62%, 43%);
    margin-left: 2rem;
    padding-top: 2rem;
}

.intro p{
    margin-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: hsl(218, 22%, 67%);
    font-size: 1.6rem;
}

.subs{
    background: #2bb3b1;
    grid-column: 2/3;
    grid-row: 3/4;
    padding-bottom: 2rem;
}

.subs h2{
    color:hsl(204, 43%, 93%);
    margin-top: 2rem;
    margin-left: 2rem;
}


.dolar strong{
    color:hsl(204, 43%, 93%);
    font-size: 2.6rem;
    margin-left: 2rem;
}

.subs p{
    color:hsl(204, 43%, 93%);
    margin-left: 2rem;
}

.subs button{
    margin-top: 2rem;
    width: 70%;
    background: hsl(71, 73%, 54%);
    color: hsl(204, 43%, 93%);
    border: none;
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    margin-left: 3rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.1);
}

  .why{
      grid-column: 3/4;
      grid-row: 3/4;
      background: #4abebd; 
}

.why h2{
    color: hsl(204, 43%, 93%);
    margin-left: 3rem;
    margin-top: 2rem;
}

.why p{
    color: hsl(204, 43%, 93%);
    margin-left: 3rem;
} 

@media screen and (max-width: 775px){
    .main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .intro{
      font-size: 50%;
    }

    .intro, .subs, .why{
        grid-column: auto;
        grid-row: auto;
        
    }
    
    .subs{
        
    }
    .why{
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }
}
