*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background: #e5eff5;
    font-family: "Karla";
    font-size: 16px;
    
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.intro{
    background: white;
    padding: 2rem;
}

.intro h1{
    color: hsl(179, 62%, 43%);
    margin-bottom: 1rem;
}

.intro h2{
    color: hsl(71, 73%, 54%);
    margin-bottom: 1rem;
}

.intro p{
    color: hsl(218, 22%, 67%);
}
.subs{
    background: #2bb3b1;
    padding: 2rem;
}

.subs h2{
    color:hsl(204, 43%, 93%);
    margin-bottom: 1rem;
}

.dolar strong{
    color:hsl(204, 43%, 93%);
    font-size: 2rem;
}

.subs p{
    color:hsl(204, 43%, 93%);
}

.sign a{
    text-decoration:none;
    color: hsl(204, 43%, 93%);
}

.sign{
    width: 50%;
    background: hsl(71, 73%, 54%);
    margin-top: 1rem;
    border: none;
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    margin-left: 3rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.1);
}

.why{
    background: #4abebd; 
    padding: 2rem;
}

.why h2{
    color: hsl(204, 43%, 93%);
    margin-bottom: 1rem;
}

.why ul{
    color: hsl(204, 43%, 93%);
    list-style-type: none;
}

.intro{
    grid-column: 2/4;
    grid-row: 2/3;
}

.subs{
    grid-column: 2/3;
    grid-row: 3/4;
}

.why{
    grid-column: 3/4;
    grid-row: 3/4;
}

 

@media screen and (max-width: 775px){
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .intro{
        grid-column:1/2;
        grid-row: 1/2;
    }
    
    .subs{
        grid-column:1/2;
        grid-row: 2/3;
    }
    
    .why{
        grid-column:1/2;
    }

}